.block-editor-accordion {
  margin: 0 -2.2rem;

  .block-editor-accordion {
    margin: 0 0.1rem;
  }

  .block.accordion.selected::before,
  .block.accordion:hover::before {
    border-style: dashed;
    border-radius: 1rem;
  }

  .section-block {
    padding-top: 1rem;
    padding-bottom: 0.1rem;
    margin: 0 2rem;
  }

  .accordion-title {
    background: #f3f4f5;
  }

  .block {
    .block-add-button {
      display: none;
    }

    .block-toolbar {
      z-index: 2;
    }
  }
}

.align-arrow-left {
  display: flex;
  flex-direction: row;
}

.align-arrow-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.input-accordion-title {
  width: 100%;
}

.panel-icon {
  width: 100%;
}
