.block-editor-group {
  margin: 0 -2.2rem;
  .block-editor-group {
    margin: 0 0.1rem;
  }
  .block.group.selected::before,
  .block.group:hover::before {
    border-style: dashed;
    border-radius: 1rem;
  }
  .section-block {
    margin: 0 2rem;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
  }
}
